aliyun-python-sdk-core==2.1.3
aliyun-python-sdk-jaq==2.0.5
amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
attrs==15.2.0
beautifulsoup4==4.3.2
billiard==3.3.0.23
bleach==3.1.0
boto==2.48.0
boto3==1.3.1
botocore==1.4.37
celery==3.1.13
certifi==2017.11.5
cffi==1.12.3
chardet==3.0.4
Cheetah==2.4.4
configobj==5.0.6
coverage==4.5.1
cryptography==2.7
Django==1.10.8
django-axes==1.3.9
django-boto==0.3.1
django-braces==1.8.1
django-celery==3.1.10
django-ckeditor==4.0.2
django-debug-toolbar==1.9.1
django-elasticache==0.0.3
django-environ==0.4.0
django-facebook==5.2.6
django-filter==0.7
django-haystack==1.2.7
django-oauth-toolkit==1.0.0
django-pagination==1.0.7
django-pylibmc==0.5.0
django-storages==1.6.5
djangorestframework==3.7.3
docutils==0.12
ecdsa==0.13
enum34==1.1.2
futures==3.0.5
GeoIP==1.3.2
git+ssh://git@github.com/coassets/ca-mail.git
html5lib==1.0.1
httplib2==0.9.1
icalendar==2.0.1
idna==2.6
ipaddress==1.0.16
Jinja2==2.7.3
jmespath==0.9.0
kombu==3.0.37
lxml==3.5.0
Markdown==2.4
MarkupSafe==1.0
mock==1.0.1
mysqlclient==1.3.7
ndg-httpsclient==0.4.0
newrelic==2.50.0.39
numpy==1.8.0
oauth==1.0.1
oauth2==1.5.211
oauthlib==2.0.6
oss2==2.0.4
paramiko==2.0.9
pdfkit==0.6.1
pika==0.9.14
Pillow==2.5.3
postmarkup==1.2.1
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycurl==7.43.0
PyJWT==0.2.3
pylibmc==1.4.3
pyOpenSSL==19.0.0
PyPDF2==1.26.0
pysha3==1.0.2
python-dateutil==2.5.3
python-openid==2.2.5
python-social-auth==0.1.26
pytz==2019.1
reportlab==3.3.0
requestbuilder==0.2.3
requests==2.18.4
requests-oauthlib==0.4.2
Scrapy==0.16.4
SecretStorage==2.1.3
service-identity==16.0.0
shortuuid==0.4.2
simplejson==3.8.1
six==1.12.0
sqlparse==0.2.4
stripe==1.38.0
supervisor==3.1.3
Twisted==13.0.0
ua-parser==0.6.1
urllib3==1.22
user-agents==1.0.1
w3lib==1.2
wadllib==1.3.2
Wand==0.4.4
webencodings==0.5.1
xhtml2pdf==0.2.3
xlrd==0.9.4
xlwt==0.7.5
xmltodict==0.10.2
zope.interface==4.5.0